@use "./variables" as *;
@use "./fonts" as *;

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin display-flex($flexdirection, $justify, $align) {
  display: flex;
  flex-direction: $flexdirection;
  justify-content: $justify;
  align-items: $align;
}
