@use "./partials/reset";
@use "./partials/variables" as *;
@use "./partials/fonts" as *;
@use "./partials/mixins" as *;
@use "./partials/global";

//Hero Section

.hero {
  background-image: url("../assets/images/hero-bio.jpg");
  height: 12rem;

  @include tablet {
    height: 31.25rem;
  }

  @include desktop {
    height: 50.25rem;
  }
}

//Styling the main section

.biography {
  width: 100%;
}

//About section

.about {
  padding: 0rem 1rem;
  &__heading {
    padding-top: 1.5rem;
  }

  &__image {
    padding: 1rem 0rem;
    width: 100%;
  }

  &__quote {
    line-height: 1.375rem;
    font-weight: 700;

    &--spacedout {
      line-height: 2rem;
    }
  }

  &__subheading {
    padding-top: 1rem;
    font-weight: 500;
  }

  &__para {
    padding: 1rem 0rem;
  }

  @include tablet {
    padding: 0rem 2.25rem;
    @include display-flex(column, center, start);

    &__heading {
      padding-top: 3rem;
    }

    &__article {
      padding: 0rem 3rem;
    }

    &__image {
      padding: 2.25rem 0rem;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }

    &__quote {
      @include font(1.5rem, 2rem, 700);

      &--spacedout {
        @include font(1.125rem, 2rem, 700);
        padding-top: 0.5rem;
      }
    }

    &__subheading {
      padding-top: 2.25rem;
      padding-bottom: 1rem;
    }

    &__description {
      @include display-flex(row, space-between, center);
      gap: 2.25rem;
    }

    &__para {
      padding: 0rem;
      padding-bottom: 2.25rem;
    }
  }

  @include desktop {
    @include desktop-positioning;

    .about__article {
      padding: 0rem 5rem;
    }
  }
}

//Gallery Section

.gallery {
  padding: 0rem 1rem;
  padding-bottom: 0.5rem;
  background-color: $secondary-color-alabaster;

  &__heading {
    padding-top: 1.5rem;
  }

  &__image {
    padding-top: 1rem;
    width: 100%;
  }

  @include tablet {
    &__heading {
      padding: 3rem 0rem 1rem 1rem;
      padding-left: 1rem;
    }

    &__row {
      @include display-flex(row, space-between, center);
      width: 100%;
    }

    &__image {
      padding: 1rem;
      width: 33%;
    }
  }

  @include desktop {
    &__heading {
      @include desktop-positioning;
    }

    &__row {
      @include desktop-positioning;
    }
  }
}

//Styling the comment section

.comments {
  margin: 0rem 1rem;

  &__heading {
    padding-top: 1rem;
  }

  &__comment {
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;
    border-bottom: solid $secondary-color-mercury 0.0625rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__input-label {
    padding-top: 1rem;
    padding-bottom: 0.25rem;
    color: $primary-color-silver;
    @include font(0.625rem, 1.25rem, 700);
  }

  &__input {
    border-radius: 0.25rem;
    min-height: 2.25rem;
    padding: 0.75rem;
    border-style: none;
    border: 0.0625rem solid $secondary-color-mercury;
    color: $primary-color-bandsite-black;
    font-family: Nunito Sans;
    @include font(0.875rem, 1.25rem, 400);

    &--large {
      height: 7.8125rem;
      resize: none;
    }

    &:focus {
      outline: none;
      border: 0.0625rem solid $primary-color-bandsite-black;
    }

    &--error {
      outline: none;
      border: 0.0625rem solid #d22d2d;
    }
  }

  ::placeholder {
    color: $primary-color-bandsite-black;
  }

  &__profile {
    padding-right: 1rem;
    height: inherit;
  }

  &__profile-img {
    margin-top: 1rem;
    background-color: $secondary-color-mercury;
    background-size: 100%;
    width: 2.25rem;
    height: 2.25rem;
    border: 0;
    border-color: $secondary-color-mercury;
    border-radius: 50%;
    &--image {
      background-image: url("../assets/images/Mohan-muruge.jpg");
      background-size: cover;
      margin-top: 2rem;
    }
  }

  &__comment-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__user-info {
    margin-top: 1rem;
    padding-right: 0.125rem;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__name {
    font-weight: 700;
  }

  &__date {
    color: $primary-color-silver;
  }

  &__submit {
    margin-top: 1rem;
  }

  &__functions {
    @include display-flex(row, start, center);
    padding-top: 0.5rem;
  }

  &__like {
    @include display-flex(row, start, center);
    background-color: transparent;
    padding: 0rem;
    width: 1.5625rem;
    margin-right: 0.9375rem;
    &:hover {
      background-color: transparent;
    }
  }

  &__likes-number {
    @include font(0.9rem, 0.625rem, 700);
    height: 0.125rem;
    margin-right: 0.5rem;
  }

  &__delete {
    @include display-flex(row, start, center);
    background-color: transparent;
    width: 1.5625rem;
    padding: 0rem;

    &:hover {
      background-color: transparent;
    }
  }

  @include tablet {
    margin: 0rem 2.25rem;
    margin-bottom: 1.5rem;

    &__heading {
      padding: 3rem 0rem 1rem 0rem;
    }

    &__comment {
      margin-left: 5rem;
      padding-bottom: 0rem;
    }

    &__form {
      display: flex;
      flex-direction: column;
      flex-grow: 0;
      width: 100%;
    }

    &__profile-img {
      margin-top: 1.5rem;
      width: 3rem;
      height: 3rem;
      &--image {
        margin-top: 2.625rem;
      }
    }

    &__input-label {
      color: $primary-color-silver;
      @include font(0.75rem, 1.25rem, 700);
    }

    &__submit {
      width: 25%;
      align-self: flex-end;
      margin: 1.5rem 0rem;
    }

    &__user-info {
      margin-top: 1.5rem;
    }

    &__functions {
      padding-bottom: 0.5rem;
    }
  }

  @include desktop {
    &__heading {
      @include desktop-positioning;
    }

    &__comment {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
    &__comment-list {
      width: 40%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
