@use "./partials/reset" as *;
@use "./partials/variables" as *;
@use "./partials/fonts" as *;
@use "./partials/mixins" as *;
@use "./partials/global" as *;

//Hero Section

.hero {
  background-image: url("../assets/images/hero-shows.jpg");
  height: 19rem;

  &__subheading {
    width: 100%;
    color: $primary-color-white;
    padding: 0rem 1rem;
    padding-bottom: 24px;
  }

  &__music {
    margin-top: 24px;
    padding: 0rem 1rem;
    width: 100%;
    height: 6.75rem;
  }

  @include tablet {
    height: 31.25rem;
    &__subheading {
      padding: 0rem 2.25rem;
      padding-bottom: 36px;
    }

    &__music {
      margin-top: 24px;
      padding: 0rem 2.25rem;
      width: 100%;
      height: 6.75rem;
    }
  }

  @include desktop {
    height: 50.25rem;
    &__subheading {
      padding: 0rem 10rem;
      padding-bottom: 36px;
    }

    &__music {
      margin-top: 24px;
      padding: 0rem 1rem;
      width: 100%;
      height: 6.75rem;
    }
  }
}

// Shows Section Styling

.shows {
  &__heading {
    padding: 1.5rem 1rem 1.25rem 1rem;
  }

  &__show {
    padding: 1rem 1rem 1rem;
    border-bottom: solid $secondary-color-mercury 0.0625rem;
    &:hover {
      background-color: $secondary-color-alabaster;
    }
  }

  &__title {
    padding-bottom: 3px;
    color: $primary-color-silver;
    @include font(10px, 20px, 700);
  }

  &__data {
    padding-bottom: 0.75rem;
    font-weight: 500;
    &--bold {
      font-weight: 700;
    }
  }

  &__submit {
    margin-top: 4px;
    border-radius: 4px;
    border: none;
    height: 40px;
    width: 100%;
    background-color: $primary-color-bandsite-black;
    color: $primary-color-white;
    @include font(0.95rem, 1.25rem, 700);
  }

  @include tablet {
    &__heading {
      padding: 3rem 0rem 1rem 1rem;
      padding-left: 1rem;
    }
  }

  @include desktop {
    &__heading {
      @include desktop-positioning;
    }
  }
}
