@use "./partials/reset" as *;
@use "./partials/variables" as *;
@use "./partials/fonts" as *;
@use "./partials/mixins" as *;
@use "./partials/global" as *;

//Hero Section

.hero {
  background-image: url("../assets/images/hero-shows.jpg");
  height: 19rem;

  &__subheading {
    width: 100%;
    color: $primary-color-white;
    padding: 0rem 1rem;
    padding-bottom: 1.5rem;
  }

  &__music {
    margin-top: 1.5rem;
    padding: 0rem 1rem;
    width: 100%;
    height: 6.75rem;
  }

  @include tablet {
    height: 31.25rem;
    &__subheading {
      padding: 0rem 2.25rem;
      padding-bottom: 2.25rem;
    }

    &__music {
      margin-top: 1.5rem;
      padding: 0rem 2.25rem;
      width: 65%;
      height: 8rem;
    }
  }

  @include desktop {
    &__background {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }

    height: 50.25rem;
    &__subheading {
      padding: 0rem 10rem;
      padding-bottom: 2.25rem;
    }

    &__music {
      width: 40%;
      height: 10rem;
      margin-right: 3.5rem;
    }
  }
}

// Shows Section Styling

.shows {
  &__heading {
    padding: 1.5rem 1rem 1.25rem 1rem;
  }

  &__show {
    padding: 1rem 1rem 1rem;
    border-bottom: solid $secondary-color-mercury 0.0625rem;

    &:hover {
      background-color: $secondary-color-alabaster;
    }

    &--active {
      background-color: $secondary-color-mercury;
    }
  }

  &__title {
    padding-bottom: 0.1875rem;
    color: $primary-color-silver;
    @include font(0.625rem, 1.25rem, 700);
  }

  &__special {
    display: none;
  }

  &__data {
    padding-bottom: 0.75rem;
    font-weight: 500;
    &--bold {
      font-weight: 700;
    }
  }

  &__submit {
    margin-top: 0.25rem;
  }

  @include tablet {
    padding: 0rem 2.25rem;

    &__heading {
      padding: 3rem 0rem 1rem 0rem;
    }

    &__title {
      display: none;
    }

    &__special {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0rem;
    }

    &__title-visible {
      width: 9.375rem;
      text-align: start;
      color: $primary-color-silver;
      padding-left: 1rem;
      @include font(0.75rem, 1.25rem, 700);
    }

    &__show {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0rem;
    }

    &__data {
      padding-left: 1rem;
      width: 9.375rem;
      padding-bottom: 0rem;
    }

    &__submit {
      width: 25%;
      margin: 1.5rem;
      &--invisible {
        padding-bottom: 0rem;
        margin-bottom: 0rem;
        visibility: hidden;
      }
    }
  }

  @include desktop {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;

    &__listing {
      width: 70%;
    }

    &__title-visible {
      margin-top: 3rem;
    }
  }
}
